@font-face 
{
    font-family: Nove-Regular;
    src: url(font\Novela-Regular.otf);
    font-family: Athoor-Style-Brush-Clean;
    src: url(font\Athoor-Style-Brush-Clean.otf);
}

body 
{
    background-color: #ead1dc;
}

h1 
{
    font-size: 72px;
    font-family: Athoor-Style-Brush-Clean;
    color: black;
}

h5
{
    font-size: 24px;
    font-family: Nove-Regular;
    color: black;
}

h4
{
    font-size: 25px;
    font-family: Nove-Regular;
    color: black;
}

p
{
    font-size: 20px;
    text-align: justify;
    font-family: Nove-Regular;
    color: black;
}

.alert
{
    font-size: 19px;
}

a 
{
    color: #c90076;
}

a:hover
{
    color: #c90076;
}